<!DOCTYPE html>
<html>
<head>
    <title>{{ title }}</title>
    <meta charset="utf-8"/>
    <meta name="description" content="{{ description }}"/>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="lib/styles.css">
</head>
<body>

    {% block page %}{% endblock %}

    <script async src="lib/script.js"></script>
</body>
</html>