{% extends "extends/layout.twig" %}

{% block page %}
<section class="home">

<h1>{{ title }}</h1>

{{ content|md }}

<h3>Les {{ qualites|length }} qualités principales de Twulp :</h3>

<ul>
    {% for qualite in qualites %}
        <li>{{ qualite }}</li>
    {% endfor %}
</ul>

</section>
{% endblock %}